In [1]:
import datetime

In [3]:
datetime_object = datetime.datetime.now()
datetime_object

datetime.datetime(2020, 5, 12, 18, 27, 2, 197863)

In [21]:
date = datetime.date.today()
date

datetime.date(2020, 5, 12)

In [22]:
datetime.date.today()

datetime.date(2020, 5, 12)

In [10]:
datetime.date.today()

datetime.date(2020, 5, 12)

In [24]:
type(datetime_object)

datetime.datetime

In [25]:
d = datetime.date(2020, 3, 28)
d

datetime.date(2020, 3, 28)

date.year()

In [27]:
date.year

2020

In [28]:
datetime_object.microsecond

197863

In [29]:
date.month

5

In [31]:
datetime.date.today()

datetime.date(2020, 5, 12)

In [32]:
d.day

28

In [37]:
datetime.time(21, 6, 22,11115)

datetime.time(21, 6, 22, 11115)

s = 1
s

In [41]:
d1 = datetime.date.today()
d1

datetime.date(2020, 5, 12)

In [50]:
d2 = datetime.date(223, 11, 11)
d2

datetime.date(223, 11, 11)

In [51]:
d2 - d1

datetime.timedelta(days=-656159)

In [53]:
now = datetime.datetime.now()

In [54]:
now

datetime.datetime(2020, 5, 12, 18, 52, 12, 374607)

In [55]:
t = now.strftime('%H:%M:%S****%Y-%m-%d')
t

'18:52:12****2020-05-12'

In [56]:
type(t)

str

In [57]:
date_string = '11 May, 2020'

In [58]:
now = datetime.datetime.now()
now

datetime.datetime(2020, 5, 12, 19, 6, 7, 462301)

In [59]:
d = datetime.datetime.strptime(date_string, '%d %B, %Y')
d

datetime.datetime(2020, 5, 11, 0, 0)

In [60]:
now - d

datetime.timedelta(days=1, seconds=68767, microseconds=462301)

In [61]:
user_input = input('dd/mm/yyyy')
user_input

dd/mm/yyyy12/12/2000

'12/12/2000'

In [63]:
result = []
for i in range(2000, 3201):
    if i%7==0 and i%5!=0 :
        result.append(str(i))
print(','.join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [64]:
def fact(x):
    if x==0:
        return 1
    return x*fact(x-1)
fact(6)

720

In [66]:
n = int(input('value of n'))
dict1 = {i: i*i for i in range(n+1)}
dictt1

value of n8

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [68]:
v = input('enter values')
print(v.split(','), tuple(v.split(',')))

enter values11,22,33,44,11
['11', '22', '33', '44', '11'] ('11', '22', '33', '44', '11')