In [2]:
list1 = [1, 8, 27,  65, 125]
list1[3] = 64
list1.append(216)
list1.append(7**3)
list1

[1, 8, 27, 64, 125, 216, 343]

In [3]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [4]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [5]:
edward = ['edawrd', 43]
john = ['john', 24]
database = [edward, john]
database

[['edawrd', 43], ['john', 24]]

In [8]:
alphabets = ['a', 'b', 'c']
numbers = [1, 2, 3]
x = [alphabets, numbers]
x[1][2]

3

In [11]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
endings = ['st', 'nd', 'rd'] +17*['th'] +['st', 'nd', 'rd'] + 7*['th'] + ['st']
day = int(input('day(1-31): '))
month = int(input('month(1-12): '))
year = int(input('year: '))
month_name = months[month - 1]
ordinal = str(day) + endings[day - 1]
print(month_name + ' ' + ordinal + ' ' + str(year))

day(1-31): 1
month(1-12): 1
year: 2000
january 1st 2000

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[0:10:2])
print(numbers[3:6:3])
print(numbers[::4])
print(numbers[8:3:-1])
print(numbers[10:0:-2])
print(numbers[0:10:-2])
print(numbers[::-2])
print(numbers[5::-2])
print(numbers[:5:-2])

[1, 3, 5, 7, 9]
[4]
[1, 5, 9]
[9, 8, 7, 6, 5]
[10, 8, 6, 4, 2]
[]
[10, 8, 6, 4, 2]
[6, 4, 2]
[10, 8]

In [17]:
'r' in 'rwe  '

True

In [19]:
proofs = [1, 2, 4, 121356]
int(input('check me')) in proofs

check me121356

True

In [32]:
database = [['albert','1234'], ['richard','1111'], ['henry','4321'], ['devil','1313']]
user_name = input('what is your user name: ')
pin = input('whats your ppin number: ')
if [user_name, pin] in database:
    print('access granted.')

what is your user name: albert
whats your ppin number: 1212

In [25]:
num = [1, 4577,5758]
len(num)

3

In [26]:
max(num)

5758

In [27]:
min(num)

1

In [28]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [31]:
months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
endings = ['st', 'nd', 'rd'] +17*['th'] +['st', 'nd', 'rd'] + 7*['th'] + ['st']
date = input('enter the date in dd/mm/yyyy format: ')
day = int(date[0:2])
month = int(date[3:5])
year = date[6:]
month_name = months[month - 1]
ordinal = str(day) + endings[day - 1]
print(month_name + ' ' + ordinal + ' ,' + str(year))

enter the date in dd/mm/yyyy format: 31/03/2000
march 31st ,2000