In [1]:
names = ['sam', 'cam', 'rom', 'tom']
del names[2]
names

['sam', 'cam', 'tom']

In [3]:
name = list('pearl')
name

['p', 'e', 'a', 'r', 'l']

In [4]:
name[2:] = list('eras')
name

['p', 'e', 'e', 'r', 'a', 's']

In [5]:
num = [1, 5]
num[1:1] = [2, 3, 4]
num

[1, 2, 3, 4, 5]

In [6]:
num[1:4] = []
num

[1, 5]

In [10]:
x = [[1], 1, 1, [2, 1, [1, 2]]]
x.count(1)

2

In [11]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)

In [12]:
a

[1, 2, 3, 4, 5, 6]

In [13]:
lst = [1, 2, 3]
lst.clear()
lst

[]

In [14]:
lst = [1, 2, 3]
lst[:] = []
lst

[]

In [15]:
a = [1, 2, 3]
b = a.copy()
a

[1, 2, 3]

In [16]:
b

[1, 2, 3]

In [17]:
b[2] = 6
print(a)
print(b)

[1, 2, 3]
[1, 2, 6]

In [21]:
c = a[:]
print(a)
c.append(4)
c

[1, 2, 3]

[1, 2, 3, 4]

In [24]:
num = [1, 2, 3, 4, 5, 6]
num[3:3] = [7, 2,1]
num

[1, 2, 3, 7, 2, 1, 4, 5, 6]

In [25]:
kites = ['red', 'black', 'blue', 'green']
kites.index('black')

1

In [26]:
numbers = [1, 2, 3, 4, 5, 6]
numbers.insert(3, 'bnls')
numbers

[1, 2, 3, 'bnls', 4, 5, 6]

In [27]:
x = ['to', 'be', 'or', 'not', 'to', 'be']
x.remove('be')
x

['to', 'or', 'not', 'to', 'be']

In [30]:
x.reverse()
x.sort()
x

['be', 'not', 'or', 'to', 'to']

In [34]:
y = [5, 3, 2, 8, 9]
y.sort(reverse = True)
y

[9, 8, 5, 3, 2]

In [36]:
y = [5, 3, 2, 8, 9]
x = sorted(y)
x

[2, 3, 5, 8, 9]

In [37]:
x = ['to', 'bee', 'orrr', 'notrrrt', 'towdsd', 'bewww']
x.sort(key = len)
x

['to', 'bee', 'orrr', 'bewww', 'towdsd', 'notrrrt']

In [39]:
sorted('Pyhton')

['P', 'h', 'n', 'o', 't', 'y']

In [40]:
items = [('named', 'lummby'), ('age', '23')]
d = dict(items)
d

{'named': 'lummby', 'age': '23'}

In [41]:
d['named']

'lummby'

In [42]:
len(d)

2

In [43]:
d['named'] = 'gumby'
d

{'named': 'gumby', 'age': '23'}

In [44]:
del d['named']

In [45]:
d

{'age': '23'}

In [46]:
d['name'] = 'gumby'
d

{'age': '23', 'name': 'gumby'}

In [47]:
d['name'] = 'lumby'
d

{'age': '23', 'name': 'lumby'}

In [48]:
'age' in d

True

In [53]:
del d['age']

In [ ]:
people = {'alice':{'phone':'123', 'addr':'pumba ansvd'}, 'richie':{'phone':'4693', 'addr':'timon fdfdf'}, 'sal':{'phone':'007', 'addr':'mogli ansvd'}}
labels ={}