In [1]:
def square(num):
    return num**2

In [3]:
result = square(5)
result

25

In [4]:
nums = [1, 2, 3, 4, 5]
map(square, nums)

In [5]:
list(map(square, nums))

[1, 4, 9, 16, 25]

In [8]:
res = []
for i in nums:
    s = square(i)
    res.append(s)
res

[1, 4, 9, 16, 25]

In [9]:
mynames = ['ji', 'senor', 'my', 'sqwer', 'azkaban']
def splicer(str1):
    if len(str1) % 2==0:
        return 'even'
    else:
        return str1[0]

In [10]:
list(map(splicer, mynames))

['even', 's', 'even', 's', 'a']

In [11]:
def is_even(num):
    return num % 2 == 0

In [12]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(is_even, nums))

[2, 4, 6, 8, 10]

In [14]:
def times2(var):
    return var*2
times2(2)

4

In [15]:
seq = [1, 2, 3, 4, 5]
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [16]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [17]:
list(filter(lambda var: var%2 == 0, seq))

[2, 4]

In [18]:
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)

In [19]:
f(0)

42

In [20]:
f(6)

48

In [22]:
def concat(*args, sep="/"):
    return sep.join(args)

In [23]:
concat('zee', 'boom', 'boy')

'zee/boom/boy'

In [24]:
concat('zee', 'boom', 'boy', sep=" ")

'zee boom boy'

In [27]:
args = [1, 10, 2]
list(range(*args))

[1, 3, 5, 7, 9]

In [28]:
a =[1]
a

[1]

In [29]:
a+=2
a

TypeError: 'int' object is not iterable

In [32]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'banana']

In [34]:
fruits.count('banana')

2

In [35]:
fruits.count('pine')

0

In [36]:
fruits.index('banana')

3

In [46]:
fruits.index('banana', 4)

5

In [49]:
fruits.reverse()
fruits

['banana', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [50]:
fruits.append('pineapple')
fruits

['banana', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

In [51]:
fruits.pop()

'pineapple'

In [52]:
fruits

['banana', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [53]:
squares  = [x**2 for x in range(10)]

In [54]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
result = [i%2==0 for i in range(101)]
print(result)

[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [62]:
list1 = [(x, y)  for x in [1,2,3] for y in [1, 2, 3] if x != y]

In [63]:
list1

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [66]:
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]