In [1]:
1, 2, 3

(1, 2, 3)

In [2]:
a = (1, 2, 3)
a

(1, 2, 3)

In [3]:
22

22

In [4]:
22,

(22,)

In [5]:
()

()

In [6]:
10*(42,)

(42, 42, 42, 42, 42, 42, 42, 42, 42, 42)

In [8]:
title = 'hellon dfhdfkdhgdf bye'
title.find('bye')

19

In [9]:
a = (1, 2, 3)
b = list(a)
b

[1, 2, 3]

In [11]:
sun = '$$$ sheep sheep$$$'
sun.find('$$$')

0

In [13]:
a = 10*['my']
a

['my', 'my', 'my', 'my', 'my', 'my', 'my', 'my', 'my', 'my']

In [15]:
oh = 'oh'
hello = oh.join(a)
hello.split('oh')

['my', 'my', 'my', 'my', 'my', 'my', 'my', 'my', 'my', 'my']

In [18]:
seq = ['1', '2', '3']
sep = '+'
sep.join(seq)

'1+2+3'

In [19]:
dirs = ' ', 'usr', 'hi'
'/'.join(dirs)

' /usr/hi'

In [20]:
'usin dhgdjd shdjd'.split(' ')

['usin', 'dhgdjd', 'shdjd']

In [21]:
'i am living here'.replace('living', 'livin')

'i am livin here'

In [22]:
name = 'gumby'
name.upper()

'GUMBY'

In [23]:
names = ['GUMBY', 'RICK']
if name.upper() in names:
    print('livinh')

livinh

In [24]:
' internal white space is available. '.strip()

'internal white space is available.'

In [25]:
name = 'Gumby '
names = ['gumby', 'rick', 'cJ']
if name.lower().strip() in names:print('livin')

livin

In [26]:
'***!!!muchus garacias!!!***'.strip('*!')

'muchus garacias'

In [28]:
table = str.maketrans('cs', 'kz')
'this is an incredible test.'.translate(table)

'thiz iz an inkredible tezt.'

In [30]:
table = str.maketrans('cs', 'kz', ' $')
'this is an incredible test.$'.translate(table)

'thizizaninkredibletezt.'

In [31]:
x = set()
x.add('lambu')

In [32]:
x

{'lambu'}

In [34]:
a = (1, 2, 2, 2, 2, 3, 5, 78)
c = set(a)
c

{1, 2, 3, 5, 78}

In [36]:
a = None
a

In [37]:
a = True
a

True